body {
    background-color: #000000;
    }
h1 {
    color: #F5F5F5;
    /*text-align: center;*/
}
h2 {
    color: #F5F5F5;
    /*text-align: center;*/
}
ul {
    color: #F5F5F5;
    /*text-indent: 30%;*/
}
p {
    color: #F5F5F5;
    /*text-indent: 30%;*/
}
br {
    /*text-indent: 30%;*/
}
.padded-multiline { 
  line-height: 1.3; 
  padding: 20px 0; 
  width: 400px;
  margin: 20px auto;
}
.padded-multiline h1 { 
  padding: 20px 0;
  display: inline;
  margin: 0; 
}
.padded-multiline h2 { 
  padding: 20px 0;
  display: inline;
  margin: 0; 
}
