.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #F5F5F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body {
    background-color: #000000;
    }
h1 {
    color: #F5F5F5;
    /*text-align: center;*/
}
h2 {
    color: #F5F5F5;
    /*text-align: center;*/
}
ul {
    color: #F5F5F5;
    /*text-indent: 30%;*/
}
p {
    color: #F5F5F5;
    /*text-indent: 30%;*/
}
br {
    /*text-indent: 30%;*/
}
.padded-multiline { 
  line-height: 1.3; 
  padding: 20px 0; 
  width: 80%;
  margin: 10%;
}
.padded-multiline h1 { 
  padding: 20px 0;
  display: inline;
  margin: 5%; 
}
.padded-multiline h2 { 
  padding: 20px 0;
  display: inline;
  margin: 5%; 
}
